// {{ ansible_managed }}

AnonIPLimit = 10
ConnectDelay = 5
HideVersion = true
{% if v_znc_module_webadmin %}
LoadModule = webadmin
{% endif %}
{% if v_znc_module_adminlog %}
LoadModule = adminlog
{% endif %}
MaxBufferSize = {{ v_znc_max_buffer }}
ProtectWebSessions = true
SSLCertFile = {{ v_znc_ssl_cert }}
ServerThrottle = 30
StatusPrefix = *
Version = 1.6.0

<Listener listener0>
    AllowIRC = true
    AllowWeb = {{ v_znc_module_webadmin|lower }}
    Host = {{ v_znc_listen_ip }}
    IPv4 = true
    IPv6 = false
    Port = {{ v_znc_listen_port }}
    SSL = true
</Listener>

<User {{ v_znc_user.nickname }}>
    Admin = {{ v_znc_user.admin|lower }}
    Allow = {{ v_znc_allow_ip }}
    AltNick = {{ v_znc_user.nickname_alt }}
    AppendTimestamp = true
    AutoClearChanBuffer = true
    AutoClearQueryBuffer = true
    Buffer = {{ v_znc_max_buffer }}
    ChanModes = +stn
{% if v_znc_user.modules is defined %}
{% for usermodule in v_znc_user.modules %}
    LoadModule = {{ usermodule.name }}
{% endfor %}
{% endif %}
    DenyLoadMod = {{ v_znc_user.denyloadmodules|lower }}
    DenySetBindHost = false
    Ident = {{ v_znc_user.nickname }}
    JoinTries = 10
    MaxJoins = 0
    MaxNetworks = 5
    MaxQueryBuffers = 50
    MultiClients = true
    Nick = {{ v_znc_user.nickname }}
    PrependTimestamp = false
    QuitMsg = {{ v_znc_user.quit_msg }}
    RealName = {{ v_znc_user.nickname }}
    TimestampFormat = [%H:%M:%S]
    Timezone = {{ v_znc_user.timezone }}

{% if v_znc_user.network is defined %}
    <Network {{ v_znc_user.network.name }}>
        FloodBurst = 4
        FloodRate = 1.00
        IRCConnectEnabled = true
        JoinDelay = 0
{% if v_znc_user.network.modules is defined %}
{% for networkmodule in v_znc_user.network.modules %}
        LoadModule = {{ networkmodule.name }}
{% endfor %}
{% endif %}
        Server = {{ v_znc_user.network.server }}
{% if v_znc_user.network.channels is defined %}
{% for channel in v_znc_user.network.channels %}
        <Chan {{ channel }}>
        </Chan>
{% endfor %}
{% endif %}
    </Network>
{% endif %}

    <Pass password>
        Method = sha256
        Hash = {{ v_znc_user.hash }}
        Salt = {{ v_znc_user.salt }}
    </Pass>
</User>
