// {{ ansible_managed }}

AnonIPLimit = 10
ConnectDelay = 5
HideVersion = true
{% if v_znc_module_webadmin %}
LoadModule = webadmin
{% endif %}
{% if v_znc_module_adminlog %}
LoadModule = adminlog
{% endif %}
MaxBufferSize = {{ v_znc_max_buffer }}
ProtectWebSessions = true
SSLCertFile = {{ v_znc_ssl_cert }}
ServerThrottle = 30
StatusPrefix = *
Version = 1.6.0

<Listener listener0>
    AllowIRC = true
    AllowWeb = {{ v_znc_module_webadmin|lower }}
    Host = {{ v_znc_listen_ip }}
    IPv4 = true
    IPv6 = false
    Port = {{ v_znc_listen_port }}
    SSL = true
</Listener>

{% for user in v_znc_users %}
<User {{ user.nickname }}>
    Admin = {{ user.admin|lower }}
    Allow = {{ v_znc_allow_ip }}
    AltNick = {{ user.nickname_alt }}
    AppendTimestamp = true
    AutoClearChanBuffer = true
    AutoClearQueryBuffer = true
    Buffer = {{ v_znc_max_buffer }}
    ChanModes = +stn
    DenyLoadMod = false
    DenySetBindHost = false
    Ident = {{ user.nickname }}
    JoinTries = 10
    MaxJoins = 0
    MaxNetworks = 5
    MaxQueryBuffers = 50
    MultiClients = true
    Nick = {{ user.nickname }}
    PrependTimestamp = false
    QuitMsg = {{ user.quit_msg }}
    RealName = {{ user.nickname }}
    TimestampFormat = [%H:%M:%S]
    Timezone = {{ user.timezone }}

{% if user.networks is defined %}
{% for network in user.networks %}
    <Network {{ network.name }}>
        FloodBurst = 4
        FloodRate = 1.00
        IRCConnectEnabled = true
        JoinDelay = 0
{% if network.modules is defined %}
{% for module in network.modules %}
        LoadModule = {{ module }}
{% endfor %}
{% endif %}
        Server = {{ network.server }}

        <Chan ##phatypus>
        </Chan>
    </Network>
{% endfor %}
{% endif %}

    <Pass password>
        Method = sha256
        Hash = {{ user.hash }}
        Salt = {{ user.salt }}
    </Pass>
</User>
{% endfor %}
