## {{ ansible_managed }}

## Aliases
Cmnd_Alias      YUM             =   /usr/bin/yum
Cmnd_Alias      YUM_PARTIAL     =   /usr/bin/yum search [A-Za-z0-9]*, /usr/bin/yum info [A-Za-z0-9]*

# Networking
Cmnd_Alias      NETWORKING      = /sbin/route, /sbin/ifconfig, /bin/ping, /sbin/dhclient, /usr/bin/net, /sbin/iptables, /usr/bin/rfcomm, /usr/bin/wvdial, /sbin/iwconfig, /sbin/mii-tool

# Services
Cmnd_Alias      SERVICES        = /sbin/service, /sbin/chkconfig

# Reading logs
Cmnd_Alias      READ_LOGS       = /usr/bin/less /var/log/*, /usr/bin/grep /var/log/*, /usr/bin/cat /var/log/*, /bin/ls /var/log/*, /bin/ls /var/log
